/*=Blog
---------------------------------------------------------------------*/
$blog-font: 'Montserrat', sans-serif;

.introduction {
  font-family: $blog-font;
  font-size: 1.2rem;
  margin: 0 3rem;
}

.author {
  @extend .introduction;
  color: black;
  font-style: italic;
}

.title{
  color: black;
  font-family: $blog-font;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  &:hover {
   color:rgb(145, 5, 5)
  }
}

.date {
  font-family: $blog-font;
  font-size: .8rem;
}

.break {
  color: white;
  margin: .5rem;
}

.blog-index {
  margin: 0 3rem;
}

