$sticky-shrinknav-menu-height: rem-calc(60);
$sticky-shrinknav-hero-height: 300px;


body {
  padding-top: $sticky-shrinknav-hero-height + 30px;
}

.sticky-shrinknav-menu {
  @include horizontal-center;
  bottom: 0;
  height: $sticky-shrinknav-menu-height;
  line-height: $sticky-shrinknav-menu-height;
  width: 100%;
  background-color: rgba(30, 30, 30, 1);
  transition: all 0.5s ease;
  margin: 0;

  li {
    align-items: center;
    border-radius: 2px 2px 0 0;
    justify-content: center;
    list-style: none;
    padding: 0 1.25rem;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 1px $white;
    }
  }

  a {
    color: $white;
  }
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  transform: translateY($sticky-shrinknav-menu-height / .8);
  margin-bottom: 0;
  color: $white;
}

.sticky-shrinknav-header {
  width: 100%;
  height: $sticky-shrinknav-hero-height;
  align-items: center;
  justify-content: center;
  background-color: darken(rgb(30, 30, 30), 10%);
  object-fit: cover;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
  padding-top: 130px;

  .sticky-shrinknav-header{
    height: $sticky-shrinknav-menu-height;
    background-color: rgba(30, 30, 30, 0.9);

    .sticky-shrinknav-header-title{
      transform: scale(0);
      transition: all 0.3s ease;
    }
  }
}

